link(rel="stylesheet", href="../style/owner.css")
style.
    .container-text-parallax {
        position: absolute;
        margin: 8% 15%;
        padding: 1%;
        color: white !important;
        background-color: rgba(0,0,0,0.4);
        filter: alpha(opacity=50);
        border-radius: 10px;
        z-index: 1000;
    }
    @media (max-width: 700px) {
        .container-text-parallax {
            margin: 5% 1%;
        }
    }
br
br
.container-text-parallax
    br
    h2.text-white.text-center Le damos la bienvenida al soporte en línea de nuestros productos Contasis
    br
    .row
        .col-md-6.offset-md-2.col-sm-12.offset-sm-0
            input.form-control(type="text", name="", id="txtBuscar", placeholder="¿Cómo podemos ayudarle?" autofocus)
        .col-md-2.col-sm-12
            button.btn.btn-primary.form-control Buscar
    br

img.img-fluid(src='../images/foroBuscar.jpg' style="width: 100%; max-height: 500px; object-fit: cover;" )
br
br
br
br
.container
    .row
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

script(src="../js/materialize/parallax.js")
script.
    $(function () {
        $('.parallax').parallax();
        $('[data-toggle="tooltip"]').tooltip();
    });