br
.container
    .row
        .col.text-center
            h2 Ítems sin responder 
    .row
        span#MainContent_dtlListaPreguntasSinRespuesta
        .offset-md-2.col-md-8.offset-sm-0.col-sm-12
            span
                table
                    tbody
                        tr
                            td.font-weight-bold
                                a(href='javascript: void(0);')
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblCodigo_0 0100
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblTitulo_0 Nuevo item de foro 2
                        tr
                            td
                                em
                                    | Fecha de creación
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblFechaCreacion_0 03/04/2018 2:41:57
                        tr
                            td
                                | Aplica para
                                span#MainContent_dtlListaPreguntasSinRespuesta_lblProducto_0.font-weight-bold SmartReport
        br
        span
            .offset-md-2.col-md-8.offset-sm-0.col-sm-12
                table
                    tbody
                        tr
                            td.font-weight-bold
                                a(href='javascript: void(0);')
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblCodigo_1
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblTitulo_1 Este campo es obligatorio
                        tr
                            td
                                em
                                    | Fecha de creación
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblFechaCreacion_1 03/04/2018 9:09:19
                        tr
                            td
                                | Aplica para
                                span#MainContent_dtlListaPreguntasSinRespuesta_lblProducto_1.font-weight-bold FEI
        br
        span
            .offset-md-2.col-md-8.offset-sm-0.col-sm-12
                table
                    tbody
                        tr
                            td.font-weight-bold
                                a(href='javascript: void(0);')
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblCodigo_2
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblTitulo_2 Este campo es obligatorio
                        tr
                            td
                                em
                                    | Fecha de creación
                                    span#MainContent_dtlListaPreguntasSinRespuesta_lblFechaCreacion_2 03/04/2018 9:22:00
                        tr
                            td
                                | Aplica para
                                span#MainContent_dtlListaPreguntasSinRespuesta_lblProducto_2.font-weight-bold FEI

