br
.container
    .row
        .col.text-center
            h2 Resultados de 
                em
                    span#valorResultado xml
    .row
        .offset-md-2.col-md-8.offset-sm-0.col-sm-12
            table
                tbody
                    tr
                        td.font-weight-bold
                            a(href="") 
                                span 0100 
                                span El sistema no puede responder su solicitud.
                    tr
                        td Intente nuevamente o comuníquese con su Administrador... 
                    tr
                        td 
                            em Fecha de última actualización 
                                span 26 de Marzo, 2018
                    tr
                        td Aplica para 
                            span.font-weight-bold FEI
            br
        .offset-md-2.col-md-8.offset-sm-0.col-sm-12
            table
                tbody
                    tr
                        td.font-weight-bold
                            a(href="") 
                                span 0159 
                                span El nombre del archivo XML es incorrecto.
                    tr
                        td Intente nuevamente o comuníquese con su Administrador... 
                    tr
                        td 
                            em Fecha de última actualización 
                                span 28 de Marzo, 2018
                    tr
                        td Aplica para 
                            span.font-weight-bold FEI
            br
        .offset-md-2.col-md-8.offset-sm-0.col-sm-12
            table
                tbody
                    tr
                        td.font-weight-bold
                            a(href="") 
                                span 1002 
                                span El XML no contiene información en el tag ID.
                    tr
                        td Intente nuevamente o comuníquese con su Administrador... 
                    tr
                        td 
                            em Fecha de última actualización 
                                span 28 de Marzo, 2018
                    tr
                        td Aplica para 
                            span.font-weight-bold FEI
