ul#NavBlock1.dropdown-content
    li
        a(href='javascript: void(0)') Cuentas pendientes
    li
        a(href='javascript: void(0)') Reporte de vencimiento
    li
        a(href='javascript: void(0)') Reporte de cuentas por vencer
    li
        a(href='javascript: void(0)') Flujo de caja comprometido proyectado
ul#NavBlock2.dropdown-content
    li
        a(href='javascript: void(0)') Balance general
    li
        a(href='../html/RW-003.html') Estado de ganancias y pérdidas
    li
        a(href='javascript: void(0)') Flujo de efectivo
ul#NavBlock3.dropdown-content
    li
        a(href='javascript: void(0)') Resultado operacional
ul#NavBlock4.dropdown-content
    li
        a(href='javascript: void(0)') Ejecución presupuestal
ul#NavBlock5.dropdown-content
    li
        a(href='javascript: void(0)') Indicadores de rentabilidad
    li
        a(href='javascript: void(0)') Indicadores de solvencia
    li
        a(href='javascript: void(0)') Indicadores de eficiencia
    li
        a(href='javascript: void(0)') Indicadores de liquidez


nav.light-blue.darken-4(style="margin-top: -17px;")
    .nav-wrapper.left
        ul.right.hide-on-med-and-down
            li
                a.dropdown-button(href='javascript: void(0)', data-activates='NavBlock1')
                    | Gestión de tesorería y cartera
            li
                a.dropdown-button(href='javascript: void(0)', data-activates='NavBlock2')
                    | Estados financieros
            li
                a.dropdown-button(href='javascript: void(0)', data-activates='NavBlock3')
                    | Centro de costos
            li
                a.dropdown-button(href='javascript: void(0)', data-activates='NavBlock4')
                    | Presupuestos
            li
                a.dropdown-button(href='javascript: void(0)', data-activates='NavBlock5')
                    | Financial Board
            li
                a.dropdown-button(href='javascript: void(0)')
                    | Mi negocio al día
        
