link(rel="stylesheet", href="../style/owner.css")
.parallax-container
    .parallax
        img(src='../images/dashboard.jpg')
.container
    br
    .card.text-center
        .card-block
            h4.card-title Bienvenido al sistema de reportes web Contasis
            p.card-text Seleccione
            .row
                //.card.card-inverse.card-success.text-center
                    .card-block
                        p Hemos detectado una nueva actualización a sus datos correspondiente a la fecha 19/11/2017 18:00. Su última actualización fue 18/11/2017 12:00, La actualización a sus datos puede tardar varios segundos en terminar de ser procesados. ¿Desea actualizar sus datos?
                        .row
                            .offset-md-3.col-md-3.offset-sm-1.col-sm-5
                                .d-flex.justify-content-center
                                    button.btn.btn-danger.btn-block(role='button') No
                            .offset-md-0.col-md-3.offset-sm-1.col-sm-5
                                .d-flex.justify-content-center
                                    button.btn.btn-info.btn-block Si
                .col-md-4.col-sm-12#blockCuentasPendientes
                    .card.card-outline-secondary.text-center
                        .card-block
                            blockquote.card-blockquote
                                .col-md-12
                                    .row.align-items-center
                                        .col
                                            img.img-fluid(src="../images/cuentas_pendientes_default.png", alt="")
                                        br
                                        .col
                                            p Cuentas pendientes
                                .row
                                    .col-md-8.offset-md-2.col-sm-12.offset-md-0
                                        #blockCompanyDetailsForRCP
                                            table.table.table-striped.table-bordered.table-responsive
                                                thead
                                                    tr
                                                        th Seleccione
                                                        th Año de proceso
                                                        th Código de empresa
                                                        th Razón social
                                                        th RUC
                                                tbody
                                                    tr
                                                        td
                                                            button.btn.btn-success Seleccione
                                                        td
                                                            select#lstAnio.custom-select(name="lst")
                                                                option(value="2017") 2017
                                                                option(value="2017") 2016
                                                        td
                                                            span 01
                                                        td
                                                            span PRUEBAS
                                                        td
                                                            span 12345678910
                                footer
                                    button#btnCuentasPendientes.btn.btn-info(role='button') Ver detalles
                .col-md-4.col-sm-12#blockMargenUtilidad
                    .card.card-outline-success.text-center
                        .card-block
                            blockquote.card-blockquote
                                .col-md-12
                                    .row.align-items-center
                                        .col
                                            img.img-fluid(src="../images/margen_de_utilidad_default.png", alt="")
                                        br
                                        .col
                                            p Margen de utilidad por producto
                                .row
                                    .col-md-8.offset-md-2.col-sm-12.offset-md-0
                                        #blockCompanyDetailsForRMU
                                            table.table.table-striped.table-bordered.table-responsive
                                                thead
                                                    tr
                                                        th Seleccione
                                                        th Año de proceso
                                                        th Código de empresa
                                                        th Razón social
                                                        th RUC
                                                tbody
                                                    tr
                                                        td
                                                            button.btn.btn-success Seleccione
                                                        td
                                                            select#lstAnio.custom-select(name="lst")
                                                                option(value="2017") 2017
                                                                option(value="2017") 2016
                                                        td
                                                            span 01
                                                        td
                                                            span PRUEBAS
                                                        td
                                                            span 12345678910
                                footer
                                    button#btnMargenUtilidad.btn.btn-info(role='button') Ver detalles
                .col-md-4.col-sm-12#blockMinegocioAlDia
                    .card.card-outline-info.text-center
                        .card-block
                            blockquote.card-blockquote
                                .col-md-7
                                    .row.align-items-center
                                        .col
                                            img.img-fluid(src="../images/mi_negocio_al_dia_default.png", alt="")
                                .col-md-12
                                    .row.align-items-center
                                        .col
                                            p Mi negocio al día
                                .row
                                    .col-md-8.offset-md-2.col-sm-12.offset-md-0
                                        #blockCompanyDetailsForRMND
                                            table.table.table-striped.table-bordered.table-responsive
                                                thead
                                                    tr
                                                        th Seleccione
                                                        th Año de proceso
                                                        th Código de empresa
                                                        th Razón social
                                                        th RUC
                                                tbody
                                                    tr
                                                        td
                                                            button.btn.btn-success Seleccione
                                                        td
                                                            select#lstAnio.custom-select(name="lst")
                                                                option(value="2017") 2017
                                                                option(value="2017") 2016
                                                        td
                                                            span 01
                                                        td
                                                            span PRUEBAS
                                                        td
                                                            span 12345678910
                                footer
                                    button#btnMinegocioAlDia.btn.btn-info(role='button') Ver detalles
script.
    $(function () {
        $('.parallax').parallax();
        $('[data-toggle="tooltip"]').tooltip();
        var statusRCP = 0;
        var statusRMUP = 0;
        var statusRMNA = 0;
        $("#blockCompanyDetailsForRCP").toggle();
        $("#blockCompanyDetailsForRMU").toggle();
        $("#blockCompanyDetailsForRMND").toggle();
        $("#btnCuentasPendientes").on("click", function () {
            if(statusRCP == 0) {
                $("#btnCuentasPendientes").text("Ocultar detalles");
                $("#blockCuentasPendientes").removeClass("col-md-4").addClass("col-md-12");
                $("#blockMargenUtilidad").hide("200");
                $("#blockMinegocioAlDia").hide("200");
                statusRCP = 1;
            } else {
                $("#btnCuentasPendientes").text("Ver detalles");
                $("#blockCuentasPendientes").removeClass("col-md-12").addClass("col-md-4");
                $("#blockMargenUtilidad").show("200");
                $("#blockMinegocioAlDia").show("200");
                statusRCP = 0;
            }
            $("#blockCompanyDetailsForRCP").toggle("slow");
        });
        $("#btnMargenUtilidad").on("click", function () {
            if(statusRMUP == 0) {
                $("#btnMargenUtilidad").text("Ocultar detalles");
                $("#blockMargenUtilidad").removeClass("col-md-4").addClass("col-md-12");
                $("#blockCuentasPendientes").hide("200");
                $("#blockMinegocioAlDia").hide("200");
                statusRMUP = 1;
            } else {
                $("#btnMargenUtilidad").text("Ver detalles");
                $("#blockMargenUtilidad").removeClass("col-md-12").addClass("col-md-4");
                $("#blockCuentasPendientes").show("200");
                $("#blockMinegocioAlDia").show("200");
                statusRMUP = 0;
            }
            $("#blockCompanyDetailsForRMU").toggle("slow");
        });
        $("#btnMinegocioAlDia").on("click", function () {
            if(statusRMNA == 0) {
                $("#btnMinegocioAlDia").text("Ocultar detalles");
                $("#blockMinegocioAlDia").removeClass("col-md-4").addClass("col-md-12");
                $("#blockCuentasPendientes").hide("200");
                $("#blockMargenUtilidad").hide("200");
                statusRMNA = 1;
            } else {
                $("#btnMinegocioAlDia").text("Ver detalles");
                $("#blockMinegocioAlDia").removeClass("col-md-12").addClass("col-md-4");
                $("#blockCuentasPendientes").show("200");
                $("#blockMargenUtilidad").show("200");
                statusRMNA = 0;
            }
            $("#blockCompanyDetailsForRMND").toggle("slow");
        });
    });
script(src="../js/materialize/parallax.js")
                                