.row
    .col.m3.s12
        br
        br
        br
        .card-panel.z-depth-4.light-blue.darken-4
            label Opciones
            .card-body
                .form
                    .row
                        .input-field
                            input#txtCuenta.validate.disabled(type='text')
                            label(for='txtCuenta') Número de cuenta
                button.btn.waves-effect.waves-light.light-green.darken-2#triggerModal(style="width: 100%;") Buscar cuenta
                    i.material-icons.left search
                br
                br
                label Mes de proceso
                select.browser-default.light-green.darken-2
                    option(value='', disabled='', selected='') Octubre
                    option(value='1') Enero
                    option(value='2') Febrero
                    option(value='3') Abril
                    option(value='4') Mayo
                    option(value='5') Junio
                    option(value='6') Julio
                    option(value='7') Agosto
                    option(value='8') Septiembre
                    option(value='9') Octubre
    .col.m9.s12
        .form
            .row
                .col.m10.s12
                    h4 Cuentas pendientes 
                    label(for='' style="display: none;") s
                    .card-panel.z-depth-4
                        h5 Resumen
                        .card-body
                            table.table.bordered.striped.centered.responsive-table
                                thead
                                    tr
                                        th Empresa
                                        th Monto
                                tbody
                                    tr
                                        td 
                                            label Continental SAC
                                        td
                                            label S/ 817500
                                    tr
                                        td 
                                            label Essalud
                                        td
                                            label S/ 817500
                                    tr
                                        td 
                                            label Continental SAC
                                        td
                                            label S/ 817500
                                    tr
                                        td 
                                            label Essalud
                                        td
                                            label S/ 817500
                    .card-panel.z-depth-4
                        h5 Gráfico de barras 
                        .card-body
                            #chart_div3
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            
#modalBuscarCuenta.modal
    .modal-content
        h4.center Número de cuentas
        .row
            table#tblListaCuentas.display(cellspacing='0', width='100%')
                thead
                    tr
                        th Cuenta
                        th Detalle
                tfoot
                    tr
                        th Cuenta
                        th Detalle
        .row
            
                        
        
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') Cerrar
script(src='../js/datatables/dataTables.js')
script(src="../js/owner/RW-004.js" text='javascript')
