table#tableNaturaleza.table.table-striped.table-bordered.display.table-responsive
    thead
        tr
            th Código
            th Descripción
            th Monto
    tfoot
        tr
            th Código
            th Descripción
            th Monto
    tbody
        tr
            td F005
            td Ventas netas o ingresos por servicios
            td
                asp:label#lblF005(runat='server')
        tr
            td F010
            td ( - ) descuentos rebajas y bonificaciones concedidas
            td
                asp:label#lblF010(runat='server')
        tr
            th F099
            th Ventas netas 
            th
                asp:label#lblF099(runat='server')
        tr
            td F115
            td ( - ) costo de ventas 
            td
                asp:label#lblF115(runat='server')
        tr
            th F199
            th Resultado bruto 
            th
                asp:label#lblF199(runat='server')
        tr
            td F205
            td ( - ) gastos de ventas
            td
                asp:label#lblF205(runat='server')
        tr
            td F210
            td ( - ) gastos de administración
            td
                asp:label#lblF210(runat='server')
        tr
            th F299
            th Resultado de operación
            th
                asp:label#lblF299(runat='server')
        tr
            td F502
            td Gastos financieros 
            td
                asp:label#lblF502(runat='server')
        tr
            td F505
            td Ingresos financieros gravados 
            td
                asp:label#lblF505(runat='server')
        tr
            td F510
            td Otros ingresos gravados  
            td
                asp:label#lblF510(runat='server')
        tr
            td F515
            td Otros ingresos no gravados  
            td
                asp:label#lblF515(runat='server')
        tr
            td F520
            td Enajenación de valores y bienes del activo fijo 
            td
                asp:label#lblF520(runat='server')
        tr
            td F525
            td Costo enajenación de valores y bienes - activo fijo
            td
                asp:label#lblF525(runat='server')
        tr
            td F530
            td Gastos diversos 
            td
                asp:label#lblF530(runat='server')
        tr
            td F560
            td Resultado por exposición a la inflación del ejercicio 
            td
                asp:label#lblF560(runat='server')
        tr
            th F599
            th Resultados antes de participaciones
            th
                asp:label#lblF599(runat='server')
        tr
            td F605
            td ( - ) distribución legal de la renta 
            td
                asp:label#lblF605(runat='server')
        tr
            th F699
            th Resultado antes del impuesto
            th
                asp:label#lblF699(runat='server')
        tr
            td F705
            td ( - ) impuesto a la renta
            td
                asp:label#lblF705(runat='server')
        tr
            th F999
            th Resultado del ejercicio 
            th
                asp:label#lblF999(runat='server')