table#tableNaturaleza.table.table-striped.table-bordered.display.table-responsive
    thead
        tr
            th(colspan="3") Estado de resultados (por naturaleza)
            th(colspan="3") Estado de resultados (por función)
    tfoot
        tr
            th(colspan="3") Estado de resultados (por naturaleza)
            th(colspan="3") Estado de resultados (por función)
    tbody
        tr
            td N005
            td Venta de mercadería
            td 
                asp:label#N005lbl11(runat='server')
            td F005
            td Ingresos de actividades ordinarias
            td 
                asp:label#F005lbl11(runat='server')
        tr
            td N010
            td Compra de mercadería
            td 
                asp:label#N010lbl11(runat='server')
            td F105
            td Costo de ventas
            td 
                asp:label#F105lbl11(runat='server')
        tr
            td N015
            td Variación de  mercadería
            td 
                asp:label#N015lbl11(runat='server')
            th F199
            th Ganancia (pérdida) bruta
            th 
                asp:label#F199lbl11(runat='server')
        tr
            th N099
            th Margen comercial
            th 
                asp:label#N099lbl11(runat='server')
            th F200
            th Gastos operacionales
            th 
                asp:label#F200lbl11(runat='server')
        tr
            td N103
            td Venta de productos terminados, sub producto
            td 
                asp:label#N103lbl11(runat='server')
            td F206
            td Gastos de ventas y distribución
            td 
                asp:label#F206lbl11(runat='server')
        tr
            td N105
            td Variación  de  la  producción  almacenado
            td 
                asp:label#N105lbl11(runat='server')
            td F211
            td Gastos de administración
            td 
                asp:label#F211lbl11(runat='server')
        tr
            td N110
            td Producción activo inmovilizado
            td 
                asp:label#N110lbl11(runat='server')
            td F212
            td Ganancia(pérdida) baja activos financieros
            td 
                asp:label#F212lbl11(runat='server')
        tr
            th N199
            th Producción del ejercicio
            th 
                asp:label#N199lbl11(runat='server')
            td F213
            td Otros ingresos operativos
            td 
                asp:label#F213lbl11(runat='server')
        tr
            td N205
            td Compra de materias primas 
            td 
                asp:label#N205lbl11(runat='server')
            td F214
            td Otros gastos operativos
            td 
                asp:label#F214lbl11(runat='server')
        tr
            td N210
            td Variación materias primas 
            td 
                asp:label#N210lbl11(runat='server')
            td F215
            td Otras ganancias (pérdidas)  
            td 
                asp:label#F215lbl11(runat='server')
        tr
            td N215
            td Compra de  materiales  auxiliares
            td 
                asp:label#N215lbl11(runat='server')
            th F299
            th Ganancia (pérdida) por actividades de operaciones
            th 
                asp:label#F299lbl11(runat='server')
        tr
            td N220
            td Variación de materiales auxiliares 
            td 
                asp:label#N220lbl11(runat='server')
            td F320
            td Ingresos financieros
            td 
                asp:label#F320lbl11(runat='server')
        tr
            td N225
            td Compra de  envases  y  embalajes
            td 
                asp:label#N225lbl11(runat='server')
            td F350
            td Gastos financieros
            td 
                asp:label#F350lbl11(runat='server')
        tr
            td N230
            td Variación  de  envases y  embalajes   
            td 
                asp:label#N230lbl11(runat='server')
            td F380
            td Diferencias de cambio neto
            td 
                asp:label#F380lbl11(runat='server')
        tr
            td N235
            td Servicios  prestados por  terceros 
            td 
                asp:label#N235lbl11(runat='server')
            td F403
            td Otros ingresos (gastos) de las subsidiar
            td 
                asp:label#F403lbl11(runat='server')
        tr
            th N299
            th Valor agregado 
            th 
                asp:label#N299lbl11(runat='server')
            td F405
            td Ganancias (pérdidas) que surgen de la diferencia
            td 
                asp:label#F405lbl11(runat='server')
        tr
            td N305
            td Subsidios  gubernamentales
            td 
                asp:label#N305lbl11(runat='server')
            td F415
            td Diferencia entre el importe en libros
            td 
                asp:label#F415lbl11(runat='server')
        tr
            td N310
            td Cargas  de  personal  
            td 
                asp:label#N310lbl11(runat='server')
            th F699
            th Resultado antes de impuesto a las ganancias
            th 
                asp:label#F699lbl11(runat='server')
        tr
            td N315
            td Tributos
            td 
                asp:label#N315lbl11(runat='server')
        tr
            th N399
            th Excedente bruto de explotación 
            th 
                asp:label#N399lbl11(runat='server')
            td F710
            td Gasto por impuesto a las ganancias
            td 
                asp:label#F710lbl11(runat='server')
        tr
            td N405
            td Descuentos rebajas y bonificación obtenidos 
            td 
                asp:label#N405lbl11(runat='server')
            th F799
            th Ganancia(pérdida) neta operaciones contable
            th 
                asp:label#F799lbl11(runat='server')
        tr
            td N410
            td Otros ingresos de gestión
            td 
                asp:label#N410lbl11(runat='server')
        tr
            td N415
            td Ganancia por medición de activos no financieros
            td 
                asp:label#N415lbl11(runat='server')
            td F805
            td Ganancia (pérdida) impuesto ganancia de operaciones diversos
            td 
                asp:label#F805lbl11(runat='server')
        tr
            td N420
            td Otros gastos de gestión
            td 
                asp:label#N420lbl11(runat='server')
        tr
            td N425
            td Perdida por medición de activos no financieros
            td 
                asp:label#N425lbl11(runat='server')
            th F999
            th Ganancia (pérdida) neta del ejercicio
            th 
                asp:label#F999lbl11(runat='server')
        tr
            td N430
            td Valuación y deterioro de activos y  provisiones
            td 
                asp:label#N430lbl11(runat='server')
        tr
            th N499
            th Resultado de explotación
            th 
                asp:label#N499lbl11(runat='server')
        tr
            td N505
            td Ingresos financieros
            td 
                asp:label#N505lbl11(runat='server')
        tr
            td N510
            td Gastos financieros
            td 
                asp:label#N510lbl11(runat='server')
        tr
            td N515
            td Costos financiación capitalizados
            td 
                asp:label#N515lbl11(runat='server')
        tr
            td N520
            td Costo neto enajenación activos inmovilizados
            td 
                asp:label#N520lbl11(runat='server')
        tr
            td N525
            td Donaciones y sanciones administrativas financieras
            td 
                asp:label#N525lbl11(runat='server')
        tr
            th N599
            th Resultado antes de participaciones e impuestos 
            th 
                asp:label#N599lbl11(runat='server')
        tr
            td N805
            td Participación de los Trabajadores 
            td 
                asp:label#N805lbl11(runat='server')
        tr
            td N810
            td Impuesto a la Renta
            td 
                asp:label#N810lbl11(runat='server')
        tr
            th N999
            th Resultado del ejercicio
            th 
                asp:label#N999lbl11(runat='server')