.row
    .col.m3.s12
        .card-panel.z-depth-4.grey.lighten-4
            label Opciones
            .card-body
                select.browser-default
                    option(value='', disabled='', selected='') Selecione la moneda
                    option(value='1') Dólares
                    option(value='2') Nuevos soles
                br
                button.btn.waves-effect.waves-light.light-blue.darken-2(style="width: 100%;") Mensual 
                    i.material-icons.left monetization_on
                br
                br
                button.btn.waves-effect.waves-light.light-blue.darken-2(style="width: 100%;") Acumulado
                    i.material-icons.left show_chart
                br
                br
                button.btn.waves-effect.waves-light.green.lighten-2#create_pdf(style="width: 100%;") Descargar
                    i.material-icons.left picture_as_pdf
    .col.m9.s12
        .form
            h4 Estado de ganancias y pérdidas
            label(for='' style="display: none;") s
            input.line-pdf.line-pdf-header(type="text" style="display: inline;" readonly="true")
            .row
                .col.m10.s12
                    .row
                        .card-panel.z-depth-4
                            h5 Resumen
                            .card-body
                                table.table.bordered.striped.centered.responsive-table
                                    thead
                                        tr
                                            th Enero
                                            th Febrero
                                            th Marzo
                                            th Abril
                                            th Mayo
                                            th Junio
                                    tbody
                                        tr
                                            td S/ 817500
                                            td S/ 379200
                                            td S/ 2695000
                                            td S/ 2099000
                                            td S/ 1526000
                                            td S/ 1526000
                                table.table.bordered.striped.centered.responsive-table
                                    thead
                                        tr
                                            th Julio
                                            th Agosto
                                            th Septiembre
                                            th Octubre
                                            th Noviembre
                                            th Diciembre
                                    tbody
                                        tr
                                            td S/ 817500
                                            td S/ 1645000
                                            td S/ 1526000
                                            td S/ 485000
                                            td S/ 1526000
                                            td S/ 817500
                    .row
                        .card-panel.z-depth-4
                            h5 Gráfico de barras 
                            .card-body
                                #chart_div3
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
            label(for='' style="display: none;") s
            input.line-pdf(type="text" readonly="true")
script(src="../js/owner/RW-003.js" text='javascript')