table#tableNaturaleza.table.table-striped.table-bordered.display.table-responsive
    thead
        tr
            th Código
            th Activo
            th Monto
            th Código
            th Pasivo y patrimonio
            th Monto
    tfoot
        tr
            th Código
            th Activo
            th Monto
            th Código
            th Pasivo y patrimonio
            th Monto
    tbody
        tr
            td A105
            td Caja y bancos
            td
                asp:label#lblA105(runat='server')
            th
            th Pasivo
            th
        tr
            td A106
            td Inversiones a valor razonable y disponible venta
            td
                asp:label#lblA106(runat='server')
            td P105
            td Sobregiros bancarios
            td
                asp:label#lblP105(runat='server')    
        tr
            td A110
            td Cuentas cobrar comerciales - terceros
            td
                asp:label#lblA110(runat='server')
            td P110
            td Tributos por pagar 
            td
                asp:label#lblP110(runat='server')
        tr
            td A111
            td Cuentas cobrar comerciales - relacionado
            td
                asp:label#lblA111(runat='server')
            td P115
            td Remuneraciones y participaciones, por pagar
            td
                asp:label#lblP115(runat='server')
        tr
            td A115
            td Cuentas que cobrar a personas, accionistas y gerentes
            td
                asp:label#lblA115(runat='server')
            td P120
            td Cuentas pagar comerciales - terceros 
            td
                asp:label#lblP120(runat='server')
        tr
            td A120
            td Cuentas cobrar diversas - terceros
            td
                asp:label#lblA120(runat='server')
            td P121
            td Cuentas pagar comerciales - relacionados
            td
                asp:label#lblP121(runat='server')   
        tr
            td A121
            td Cuentas cobrar diversas - relacionados
            td
                asp:label#lblA121(runat='server')
            td P122
            td Cuentas pagar accionista director y gerente
            td
                asp:label#lblP122(runat='server')
        tr
            td A122
            td Servicios y otros contratados anticipados
            td
                asp:label#lblA122(runat='server')
            td P128
            td Cuentas por pagar diversas - terceros
            td
                asp:label#lblP128(runat='server') 
        tr
            td A123
            td Estimación cuentas cobranza dudosa
            td
                asp:label#lblA123(runat='server')
            td P129
            td Cuentas pagar diversas - relacionados
            td
                asp:label#lblP129(runat='server')
        tr
            td A124
            td Mercaderías
            td
                asp:label#lblA124(runat='server')
            td P133
            td Obligaciones financieras 
            td
                asp:label#lblP133(runat='server')
        tr
            td A125
            td Productos terminados
            td
                asp:label#lblA125(runat='server')
            td P135
            td Provisiones 
            td
                asp:label#lblP135(runat='server')
        tr
            td A130
            td Sub productos, desechos y desperdicios
            td
                asp:label#lblA130(runat='server')
            td P141
            td Pasivo diferido
            td
                asp:label#lblP141(runat='server')
        tr
            td A135
            td Productos en proceso
            td
                asp:label#lblA135(runat='server')
            th P199
            th Total pasivo
            th
                asp:label#lblP199(runat='server')
        tr
            td A140
            td Materias primas
            td
                asp:label#lblA140(runat='server')
            td
            td
            td
        tr
            td A142
            td Materiales auxiliares, suministros y repuestos
            td
                asp:label#lblA142(runat='server')
            td
            td
            td
        tr
            td A145
            td Envases y embalajes
            td
                asp:label#lblA145(runat='server')
            th
            th Patrimonio
            th
        tr
            td A151
            td Existencias por recibir
            td
                asp:label#lblA151(runat='server')
            td P505
            td Capital
            td
                asp:label#lblP505(runat='server')
        tr
            td A152
            td Desvalorización de existencias
            td
                asp:label#lblA152(runat='server')
            td P507
            td Acciones de inversión 
            td
                asp:label#lblP507(runat='server')
        tr
            td A153
            td Activos no corrientes mantenido para venta
            td
                asp:label#lblA153(runat='server')
            td P510
            td Capital adicional
            td
                asp:label#lblP510(runat='server')
        tr
            td A155
            td Otros activos corrientes
            td
                asp:label#lblA155(runat='server')
            td P511
            td Resultados no realizados
            td
                asp:label#lblP511(runat='server')
        tr
            td A157
            td Inversiones mobiliarias
            td
                asp:label#lblA157(runat='server')
            td P515
            td Excedente de revaluación 
            td
                asp:label#lblP515(runat='server')
        tr
            td A158
            td Inversiones inmobiliarias (1)
            td
                asp:label#lblA158(runat='server')
            td P520
            td Reservas
            td
                asp:label#lblP520(runat='server')
        tr
            td A159
            td Activos adquiridos. Arrendamiento financiero (2)
            td
                asp:label#lblA159(runat='server')
            td P530
            td Resultados acumulados positivo
            td
                asp:label#lblP530(runat='server')
        tr
            td A160
            td Inmuebles, maquinarias y equipos
            td
                asp:label#lblA160(runat='server')
            td P531
            td Resultados acumulados negativo
            td
                asp:label#lblP531(runat='server')
        tr
            td A164
            td Depreciación de 1 y 2 e inmueble maquinaria equipo acumulado
            td
                asp:label#lblA164(runat='server')
            td PResultado
            td Utilidad del ejercicio
            td
                asp:label#lblPResultado(runat='server') 
        tr
            td A176
            td Intangibles
            td
                asp:label#lblA176(runat='server')
            td P541
            td Pérdida del ejercicio
            td
                asp:label#lblP541(runat='server') 
        tr
            td A177
            td Activos biológicos
            td
                asp:label#lblA177(runat='server')
            th P599
            th Total patrimonio
            th
                asp:label#lblP599(runat='server')
        tr
            td A178
            td Depreciación activo biológico amortizado y agotamiento acumulado
            td
                asp:label#lblA178(runat='server')
            td
            td
            td
        tr
            td A179
            td Desvalorización de activo inmovilizado
            td
                asp:label#lblA179(runat='server')
            td
            td
            td
        tr
            td A180
            td Activo diferido
            td
                asp:label#lblA180(runat='server')
            td
            td
            td
        tr
            td A185
            td Otros activos no corrientes
            td
                asp:label#lblA185(runat='server')
            td
            td
            td
        tr
            th A999
            th Total activo neto
            th
                asp:label#lblA999(runat='server')
            th P999
            th Total pasivo y patrimonio
            th
                asp:label#lblP999(runat='server')