.container
    br
    br
    .row.align-items-center
        .col-md-12
            .card.card-outline-secondary.text-center
                .card-block
                    h4.card-title ¡Solicitud con éxito!
                    .row.justify-content-center
                        .col-md-8
                            i.material-icons(style="font-size: 160px;").text-info done
                    .row.justify-content-center
                        .col-md-8
                            .card.card-outline-success.bg-success.text-white
                                .card-block
                                    p Se ha enviado un mensaje a su correo electrónico, para cambiar su contraseña debe acceder al link que le enviamos. Si no lo encuentra busque en la sección de spam. 