.row
    .col.m3
        #create_pdf.center.teal
            | Create PDF
    .col.m9
        .form
            label(for='' style="display: none;") s
            input.disabled(type="text" style="display: inline;" readonly="true" disabled="true")
            .row
                .col.m10
                    .card-panel.z-depth-2
                                h5 Ejercicio 2017 (Dólares)
                                .card-body
                                    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
                                    #chart_div
                                    script(src="../js/owner/RW-003.js" text='javascript')
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")
            label(for='' style="display: none;") s
            input(type="text" style="display: inline;")