.container
    .row
        .col-md-6
            br
            .form
                .card.card-inverse.card-info.text-center
                    .card-block
                        h5 Registro de usuario
                        .form-group
                            label(for='txtEmail') Correo Electr칩nico
                            input#txtEmail.form-control(type='email', placeholder='name@example.com')
                        .form-group
                            label(for='txtConfirmarEmail') Confirmar correo Electr칩nico
                            input#txtConfirmarEmail.form-control(type='email', placeholder='name@example.com')
                        .form-group
                            label(for='txtPassword') Contrase침a
                            input#txtPassword.form-control(type='password') 
                        .form-group
                            label(for='txtConfirmarPassword') Confirmar contrase침a
                            input#txtConfirmarPassword.form-control(type='password')  
                        .form-group
                            label(for='txtNombre') Nombre(s)
                            input#txtNombre.form-control
                        .form-group
                            label(for='txtApellidos') Apellidos
                            input#txtApellidos.form-control
                        .form-group
                            label(for='txtRUC') RUC
                            input#txtRUC.form-control
                        .form-group
                            label(for='fileImagenEmpresa') Imagen de empresa
                            input#fileImagenEmpresa.form-control-file(type='file')
                        .form-group
                            label(for='fileImagenPerfil') Imagen de perfil
                            input#fileImagenPerfil.form-control-file(type='file')
                        .form-group
                            label(for='lstRol') Rol
                            select#lstRol.form-control
                                option Administrador
                                option Contador
                                option Asistente
                        .form-group
                            button.btn.btn-primary.btn-block(type='button') Registrar                                               
        .col-md-6
            br
            br
            br
            img(src="../images/brothercito-right.png", alt="")