br
.container
    .card.card-outline-secondary.text-center
        .card-block
            h4.card-title Reporte de Flujo de caja  - Formato simple
                span#monthtitle para el mes de 
                span#monthHeader
            .row
                .col-md-12
                    table#tableReport.table.table-striped.table-bordered.display.table-responsive
                        thead
                            tr
                                th  Cuenta
                                th  &nbsp&nbsp&nbsp&nbsp&nbspDescripción&nbsp&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbspEnero&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbspFebrero&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbspMarzo&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbsp&nbspAbril&nbsp&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbsp&nbspMayo&nbsp&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbspJunio&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbspJulio&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbspAgosto&nbsp&nbsp
                                th  Septiembre
                                th  &nbsp&nbspOctubre&nbsp&nbsp
                                th  Noviembre
                                th  Diciembre
                        tfoot
                            tr
                                th  Cuenta
                                th  &nbsp&nbsp&nbsp&nbsp&nbspDescripción&nbsp&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbspEnero&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbspFebrero&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbspMarzo&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbsp&nbspAbril&nbsp&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbsp&nbspMayo&nbsp&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbspJunio&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbsp&nbsp&nbspJulio&nbsp&nbsp&nbsp&nbsp
                                th  &nbsp&nbspAgosto&nbsp&nbsp
                                th  Septiembre
                                th  &nbsp&nbspOctubre&nbsp&nbsp
                                th  Noviembre
                                th  Diciembre
                        tbody
                            tr
                                td Cuenta
                                td Descripción
                                td Enero
                                td Febrero
                                td Marzo
                                td Abril
                                td Mayo
                                td Junio
                                td Julio
                                td Agosto
                                td Septiembre
                                td Octubre
                                td Noviembre
                                td Diciembre
                    
script(src='https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js' text='javascript')
script(src='https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js' text='javascript')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js' text='javascript')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js' text='javascript')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js' text='javascript')
script(src='https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js' text='javascript')
script(src='https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js' text='javascript')
script(src="../js/owner/RW-010.js" text='javascript')
