.form#Formulario(action="javascript: void(0)")
    .container
        br
        .row
            .col-md-3.col-sm-12
                .card.card-inverse.card-info.text-center
                    .card-block
                        .form-group
                            label(for='lstEmpresas') Tipo de moneda
                            select#lstTipoMoneda.form-control
                                option(value='Soles' selected="true") Nuevos soles
                                option(value='Dolares') Dolares
                        .form-group
                            label(for='exampleSelect1') Mes de proceso
                            select#lstMes.form-control
                                option(value='', disabled='', selected='') Seleccione
                                option(value='0') Apertura
                                option(value='1') Enero
                                option(value='2') Febrero
                                option(value='3') Marzo
                                option(value='4') Abril
                                option(value='5') Mayo
                                option(value='6') Junio
                                option(value='7') Julio
                                option(value='8') Agosto
                                option(value='9') Septiembre
                                option(value='10') Octubre
                                option(value='11') Noviembre
                                option(value='12') Diciembre
                        .form-group
                            button.btn.btn-success.form-control#btnGenerarReporte Generar reporte
                                //i.material-icons.left show_chart
            .col-md-9.col-xs-12
                .card.card-outline-secondary.text-center
                    .card-block
                        h4.card-title Reporte de Margen de utilidad 
                            span#monthtitle para el mes de 
                            span#monthHeader
                        .row
                            .col-lg-11.col-md-10.col-xs-12
                                table#tablaReporte.table.table-striped.table-bordered.display.table-responsive
                                    thead
                                        tr
                                            th Código
                                            th Descripción
                                            th Medida
                                            th Unidades
                                            th Precio venta
                                            th Precio costo
                                            th Margen de utilidad unitario
                                            th Porcentaje de margen utilidad
                                            th Monto de ventas
                                            th Monto de costo
                                            th Margen de utilidad
                                    tfoot
                                        tr
                                            th.center Código
                                            th.center Descripción
                                            th.center Medida
                                            th.center Unidades
                                            th.center Precio venta
                                            th.center Precio costo
                                            th.center Margen de utilidad unitario
                                            th.center Porcentaje de margen utilidad
                                            th.center Monto de ventas
                                            th.center Monto de costo
                                            th.center Margen de utilidad
                            
    #modalBuscarCuenta.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='modalBuscarCuentaLabel', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#modalBuscarCuentaLabel.modal-title Cuentas contables
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    table#tablaCuentas.table.table-striped.table-bordered
                        thead
                            tr
                                th Cuenta
                                th Detalle
                                th
                        tfoot
                            tr
                                th Cuenta
                                th Detalle
                                th
                    br
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
script(src='https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js')
script(src='https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js')
script(src='https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js')
script(src='https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js')
script(src="../js/owner/RW-006.js" text='javascript')
