br
.container
    .row
        .col-md-12
                .card.card-outline-secondary.text-center
                    .card-block
                        h4.card-title Estado financiero
                        table.table.table-bordered.table-responsive.table-hover.table-sm
                            tbody
                                tr.bg-primary
                                    center
                                        th(colspan="2") Activo
                                    th(colspan="2") Pasivo y patrimonio 
                                tr.bg-primary
                                    th(colspan="2") Activo corriente
                                    th(colspan="2") Pasivo corriente
                                tr
                                    td
                                        label Efectivo y equivalentes de efectivo
                                    td
                                        span S/ 1451.48
                                    td
                                        label Otros pasivos financieros 
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Otros activos financieros
                                    td
                                        span S/ 1451.48
                                    td
                                        label Cuentas por pagar comerciales
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Cuentas por cobrar comerciales (neto)
                                    td
                                        span S/ 1451.48
                                    td
                                        label Otras cuentas por pagar
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Otras cuentas por cobrar (neto)
                                    td
                                        span S/ 1451.48
                                    td
                                        label Cuentas por pagar a entidades relacionadas
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Cuentas por cobrar a entidades relacionadas
                                    td
                                        span S/ 1451.48
                                    td
                                        label Ingresos diferidos
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Anticipos
                                    td
                                        span S/ 1451.48
                                    td
                                        label Provisión por beneficios a los empleados
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Inventarios
                                    td
                                        span S/ 1451.48
                                    td
                                        label Otras provisiones
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Activos biológicos 
                                    td
                                        span S/ 1451.48
                                    td
                                        label Pasivos por impuestos a las ganancias 
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Activos por impuestos a las ganancias 
                                    td
                                        span S/ 1451.48
                                    td
                                        label Otros pasivos no financieros
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Otros activos no financieros
                                    td
                                        span S/ 1451.48
                                    th
                                        label Total pasivo corriente distintos mantenidos para la venta
                                    td
                                        span S/ 1451.48
                                tr
                                    th.bg-primary 
                                        label Total activos corrientes distintos mantenidos para la venta
                                    th.bg-primary
                                        span
                                    td
                                        label Pasivo incluido en activo mantenido para la venta
                                    td
                                        span
                                tr
                                    td
                                        label Activos no corrientes mantenidos para la venta
                                    td
                                        span S/ 1451.48
                                    th.bg-primary
                                        label Total pasivos corrientes
                                    th.bg-primary
                                        span S/ 1451.48
                                tr
                                    td
                                        label Activos no corrientes para distribuir a propiedades
                                    td
                                        span S/ 1451.48
                                    th.bg-primary
                                        label Pasivos no corrientes
                                    th.bg-primary
                                        span S/ 1451.48
                                tr
                                    th.bg-primary
                                        label Activo no corriente mantenidos para la venta y operaciones discontinuadas
                                    th.bg-primary
                                        span S/ 1451.48
                                    td
                                        label Otros pasivos financieros
                                    td
                                        span S/ 1451.48
                                tr
                                    th.bg-primary
                                        label Total activo corriente
                                    th.bg-primary
                                        span S/ 1451.48
                                    td
                                        label Cuentas por pagar comerciales
                                    td
                                        span S/ 1451.48
                                tr
                                    th.bg-primary
                                        label Activos no corrientes
                                    th.bg-primary
                                        span S/ 1451.48
                                    td
                                        label Otras cuentas por pagar
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Otros activos financieros
                                    td
                                        span S/ 1451.48
                                    td
                                        label Cuentas por pagar a entidades relacionadas
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Inversiones en subsidiarias, negocios con activos
                                    td
                                        span S/ 1451.48
                                    td
                                        label Ingresos diferidos
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Cuentas por cobrar comerciales 
                                    td
                                        span S/ 1451.48
                                    td
                                        label Provisión por beneficios a los empleados
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Otras cuentas por cobrar
                                    td
                                        span S/ 1451.48
                                    td
                                        label Otras provisiones
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Cuentas por cobrar a entidades relacionadas
                                    td
                                        span S/ 1451.48
                                    td
                                        label Pasivos por impuestos diferidos
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Anticipos
                                    td
                                        span S/ 1451.48
                                    td
                                        label Otros pasivos no financieros
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Activos biológicos
                                    td
                                        span S/ 1451.48
                                    th.bg-primary
                                        label Total pasivos no corrientes
                                    th.bg-primary
                                        span S/ 1451.48
                                tr
                                    td
                                        label Propiedades de inversión
                                    td
                                        span S/ 1451.48
                                    th.bg-primary
                                        label Total pasivo
                                    th.bg-primary
                                        span S/ 1451.48
                                tr
                                    td
                                        label Propiedades plantas y equipos (neto)
                                    td
                                        span S/ 1451.48
                                    th.bg-primary
                                        label Patrimonio
                                    th.bg-primary
                                        span S/ 1451.48
                                tr
                                    td
                                        label Activos intangibles distintos de la plusvalía
                                    td
                                        span S/ 1451.48
                                    td
                                        label Capital emitido
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Activos por impuestos diferidos
                                    td
                                        span S/ 1451.48
                                    td
                                        label Primas de emisión
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Plusvalía
                                    td
                                        span S/ 1451.48
                                    td
                                        label Acciones de inversión
                                    td
                                        span S/ 1451.48
                                tr
                                    td
                                        label Otros activos no financieros
                                    td
                                        span S/ 154451.48
                                    td
                                        label Acciones propias en cartera
                                    td
                                        span S/ 1451.48
                                tr
                                    th.bg-primary
                                        label Total activo
                                    th.bg-primary
                                        span S/ 1451.48
                                    td
                                        
                                        label
                                    td
                                        span S/ 154451.48
                                